template_thermal_tbabsapec_kT0.8-6_abund5_template_z-0.033+0.033_Tycho2009-ARF-RMF.FTZ


# Compiled files
code/__pycache__
*.pyc
__pycache__

# Mac OSX
.DS_Store

# notebooks
*.ipynb_checkpoints
.jupyter
*.p
